# Dependências
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Editores/IDEs
.vscode/*
!.vscode/extensions.json
.idea

# Variáveis de ambiente
.env
.env.local
